body {
    background-color: #ba9132;
    background-color: rgba(186, 145, 50, 0.5)
}

#first {
    background-color: #7Db9de;
}

#second {
    background-color: #69b0ac;
}

#third {
    background-color: #2e5c6e;
}

#all {
    width: 230px;
    border: #b55d4c solid;
}